<head></head>.
<body>
  <div id="nav">
    <ul>
      <%  menuItems = ['home', 'about', 'contact', 'blog'] 
          menuItems.each do |item| %>
          <li> <%= item %> </li>
          <%
        end
      %>
    </ul>
  </div>
</body>